<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <TargetFramework>netstandard1.0</TargetFramework>
    <PublishDir>bin\Release\netstandard1.0\publish</PublishDir>
  </PropertyGroup>
</Project>